#about{
	font-family: 'Moderate';
font-style: normal;
font-weight: 500;
font-size: 20px;
	position: absolute;
	right: 50px;
}

#search{
	position: absolute;
	left: 500px;
	top: 200px;
}

#list{
	font-family: 'Moderate';
font-style: normal;
font-weight: 500;
font-size: 20px;
	position: absolute;
	left: 20px;
	top: 250px;
}

#product{
	position: absolute;
	left: 70px;
	top: 300px;
}
#product1{
	position: absolute;
	left: 600px;
	top: 300px;

}
#product2{
	position: absolute;
	right: 700px;
	top: 800px;
}

#product3{
	position: absolute;
	right: 60px;
	top: 700px;
}

#product4{
	position: absolute;
	right: 700px;
	top: 1500px;
}
#product5{
	position: absolute;
	left: 60px;
	top: 1500px;
}
#product6{
	position: absolute;
	right: 700px;
	top: 2100px;
}

#product7{
	position: absolute;
	left: 60px;
	top: 2100px;
}

#product8{
	position: absolute;
	right: 700px;
	top: 2650px;
}
#product9{
	position: absolute;
	left: 60px;
	top: 2650px;
}

#product10{
	position: absolute;
	right: 700px;
	top: 3200px;
}


#product11{
	position: absolute;
	left: 60px;
	top: 3200px;
}

#product12{
	position: absolute;
	right: 700px;
	top: 3820px;
}

#product13{
	position: absolute;
	left: 60px;
	top: 3820px;
}
#product14{
	position: absolute;
	right: 700px;
	top: 4350px;
}


#product15{
	position: absolute;
	left: 60px;
	top: 4350px;
}

#product16{
	position: absolute;
	right: 700px;
	top: 4950px;
}

#product17{
	position: absolute;
	left: 60px;
	top: 4950px;
}


#product18{
	position: absolute;
	right: 700px;
	top: 5650px;
}

#product19{
	position: absolute;
	left: 60px;
	top: 5650px;
}

#product20{
	position: absolute;
	right: 700px;
	top: 6250px;
}

#product21{
	position: absolute;
	left: 60px;
	top: 6250px;
}

#product22{
	position: absolute;
	right: 700px;
	top: 6850px;
}

#product23{
	position: absolute;
	left: 60px;
	top: 6850px;
}

#product24{
	position: absolute;
	right: 700px;
	top: 7450px;
}
#product25{
	position: absolute;
	left: 60px;
	top: 7450px;
}

#product26{
	position: absolute;
	right: 700px;
	top: 8050px;
}

#product27{
	position: absolute;
	left: 60px;
	top: 8050px;
}


#product28{
	position: absolute;
	right: 700px;
	top: 8750px;
}

#product29{
	position: absolute;
	left: 60px;
	top: 8750px;
}

#product30{
	position: absolute;
	right: 700px;
	top: 9250px;
}