#about{
	font-family: 'Moderate';
font-style: normal;
font-weight: 500;
font-size: 20px;
	position: absolute;
	right: 50px;
}

#search{
	position: absolute;
	left: 500px;
	top: 200px;
}

#list{
	font-family: 'Moderate';
font-style: normal;
font-weight: 500;
font-size: 20px;
	position: absolute;
	left: 20px;
	top: 250px;
}

#product{
	position: absolute;
	left: 70px;
	top: 300px;
}
#product1{
	position: absolute;
	left: 600px;
	top: 300px;

}
#product2{
	position: absolute;
	right: 700px;
	top: 800px;
}

#product3{
	position: absolute;
	right: 60px;
	top: 700px;
}

#product4{
	position: absolute;
	right: 700px;
	top: 1500px;
}
#product5{
	position: absolute;
	left: 60px;
	top: 1500px;
}
#product6{
	position: absolute;
	right: 700px;
	top: 2100px;
}

#product7{
	position: absolute;
	left: 60px;
	top: 2100px;
}

#product8{
	position: absolute;
	right: 700px;
	top: 2650px;
}
#product9{
	position: absolute;
	left: 60px;
	top: 2650px;
}

#product10{
	position: absolute;
	right: 700px;
	top: 3200px;
}


#product11{
	position: absolute;
	left: 60px;
	top: 3200px;
}


